<ng2-slim-loading-bar color="orange"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a routerLink="home" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="products" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Products</a>
      </li> 
      <li class="nav-item">
        <a routerLink="products/create" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Create Product</a>
      </li>
      <li class="nav-item">
        <a routerLink="about" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About Us</a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>